.app {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
