.search__form {
  display: flex;
  flex-direction: column;
  max-width: 1140px;
  width: 100%;
  margin: 57px auto 33px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 68px;
}

.search__wrapper {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  border-radius: 40px;
  margin-bottom: 38px;
  padding: 5px;
}

.search__label {
  width: 1140px;
  width: 100%;
}

.search__input {
  max-width: 1030px;
  width: 100%;
  height: 35px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  border: 0;
  background-color: #f9f9f9;
  padding-left: 16px;
  outline: none;
  cursor: pointer;
  border-radius: 40px 0 0 40px;
}

.search__input:focus {
  outline: 1px solid #ff6838;
}

.search__input::placeholder {
  color: #a0a0a0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.search__error {
  color: #ff6838;
  padding-bottom: 50px;
}

.search__button {
  background-color: #ff6838;
  border: 0;
  padding: 6px 29px;
  border-radius: 48px;
  cursor: pointer;
  transition: all linear 0.2s;
}

.search__button:hover {
  opacity: 0.8;
}

@media screen and (max-width: 768px) {
  .search__form {
    margin: 76px 10px 77px;
    padding-bottom: 51px;
    max-width: 708px;
  }
}

@media screen and (max-width: 450px) {
  .search__form {
    margin-bottom: 47px;
  }

  .search__error {
    font-size: 12px;
  }
}
