.search__form {
  display: flex;
  flex-direction: column;
  margin-top: 55px;
  border-bottom: 1px solid #e8e8e8;
  padding-bottom: 68px;
  margin-bottom: 80px;
}

.search__wrapper {
  display: flex;
  align-items: center;
  background-color: #f9f9f9;
  padding: 5px 5px;
  border-radius: 40px;
  margin-bottom: 38px;
}

.search__label {
  width: 100%;
}

.search__input {
  width: 100%;
  height: 40px;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  border: 0;
  background-color: #f9f9f9;
  padding-left: 16px;
  outline: none;
  cursor: pointer;
}

.search__input::placeholder {
  color: #a0a0a0;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}

.search__button {
  background-color: #ff6838;
  border: 0;
  padding: 6px 29px;
  border-radius: 48px;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .search__form {
    max-width: 708px;
    width: 100%;
    margin: 76px auto 77px;
    padding-bottom: 51px;
  }
}

@media screen and (max-width: 450px) {
  .search__form {
    max-width: 292px;
    margin-bottom: 47px;
  }
}
