#techs {
  width: 100%;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 0 100px;
}

.techs__section-name {
  display: flex;
  justify-content: flex-start;
  max-width: 1140px;
  width: 100%;
  font-size: 22px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.88px;
  margin: 0 0 92px;
  padding-bottom: 23px;
  border-bottom: 1px solid black;
}

.techs__title {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 116%;
  letter-spacing: -2px;
  margin: 0;
  padding-bottom: 26px;
}

.techs__subtitle {
  max-width: 460px;
  width: 100%;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 142.857%;
  letter-spacing: -0.56px;
  margin: 0;
  padding-bottom: 100px;
}

.techs__list {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  gap: 10px;
  display: flex;
  display: grid;
  grid-template-columns: repeat(auto-fill, 90px);
  justify-content: center;
  list-style: none;
  padding: 0;
}

.techs__list-element {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e8e8e8;
  border-radius: 10px;
  width: 90px;
  height: 60px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}

@media screen and (max-width: 768px) {
  #techs {
    padding: 88px 0 89px;
  }

  .techs__section-name {
    max-width: calc(100% - 100px);
    margin-bottom: 80px;
  }

  .techs__title {
    padding-bottom: 20px;
  }

  .techs__subtitle {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: -0.48px;
    padding-bottom: 85px;
  }

  .techs__list {
    grid-template-columns: repeat(auto-fit, 84px);
    justify-content: center;
  }
  .techs__list-element {
    width: 84px;
    height: 57px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.48px;
  }
}

@media screen and (max-width: 450px) {
  #techs {
    background-color: #fff;
    max-width: calc(100% - 36px);
    margin: 0 auto;
    padding: 29px 0 89px;
  }

  .techs__section-name {
    max-width: 284px;
    width: 100%;
    align-self: flex-start;
    font-size: 18px;
    padding-bottom: 28px;
    margin-bottom: 62px;
  }

  .techs__title {
    font-size: 30px;
    letter-spacing: -1.2px;
    padding-bottom: 22px;
  }

  .techs__subtitle {
    font-size: 11px;
    letter-spacing: -0.44px;
    padding-bottom: 50px;
  }

  .techs__list {
    gap: 10px;
    grid-template-columns: repeat(2, 84px);
  }
}
