.not-found {
  max-width: 400px;
  margin: 246px auto 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.not-found__error {
  margin-bottom: 184px;
}

.not-found__title {
  font-size: 140px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin: 0;
  padding-bottom: 5px;
}

.not-found__text {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin: 0;
}

.not-found__link {
  color: #ff6838;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

@media screen and (max-width: 400px) {
  .not-found {
    margin-top: 329px;
  }

  .not-found__title {
    font-size: 80px;
    padding-bottom: 10px;
  }

  .not-found__text {
    font-size: 12px;
  }

  .not-found__link {
    font-size: 12px;
  }

  .not-found__error {
    margin-bottom: 284px;
  }
}
